<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trump feels</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
    <div class="title-container">
        <div class="top-title"><span class="glyphicon glyphicon-comment"></span> What are people saying about Trump right now?</div>
    </div>
    <div class="container mt20">
        <div class="row">
            <div class="col-md-9">
                <div class="canvas-container">
                    <canvas id="chart-content"></canvas>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="panel panel-default M10">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12"><span class="glyphicon glyphicon-retweet large"></span> Number of Tweets analyzed</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="republican-text-color text-center">
                                <h1 id="tweet-count">-</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="panel panel-default M10">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12"><span class="glyphicon glyphicon-fire large"></span> Sentiment of the last 5000 Tweets</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row text-center">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="row"><span id="positive-count">-</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="row"><span id="negative-count">-</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>

</html>