.top-title {
    font-size: 2em;
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.canvas-container {
    width: 100%;
}

.mt20 {
    margin-top: 20px;
}

.title-container {
    width: 100%;
    height: 100px;
    background-color: #e74c3c;
    display: table;
}

.republican-text-color {
    color: #e74c3c;
}

#chart-content {
    display: inline;
}

#positive-count {
    font-size: 1.8em;
    color: #2ecc71;
}

#negative-count {
    font-size: 1.8em;
    color: #e74c3c;
}

.M20 {
    margin: 20px;
}