.top-title {
    font-size: 2em;
    color: #FFFFFF;
}

.canvas-container {
    width: 100%;
    text-align: center;
}

.mt20 {
    margin-top: 20px;
}

.title-container {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #e74c3c;
}

.republican-text-color {
    color: #e74c3c;
}

#chart-content {
    display: inline;
}

#positive-count {
    font-size: 1.8em;
    color: #2ecc71;
}

#negative-count {
    font-size: 1.8em;
    color: #e74c3c;
}